 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

html,
body{
    height: 100%;
    width: 100%;
}

#cursor{
    width: 20px;
    height: 20px;
    background: #95c11e;
    border-radius: 50%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
}

#cursor-blur{
    width: 200px;
    height: 200px;
    background: #9bae64;
    border-radius: 50%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    filter: blur(40px);
    z-index: 9;
}

#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 150px;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 50px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

 
 .bg-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 10;
}

#page1 h1{
    font-size: 70px;
    font-weight: 700;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -3px;
    left: -3px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 10;
}

#page1 p{
    width: 40%;
    font-size: 20px;
    font-weight: 200;
}

#page2{
    min-height: 100vh;
    width: 100%;
}

#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
    position: relative;
    z-index: 10;

}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 700;
    font-family: sans-serif;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 1px rgb(17, 255, 0);
}
#scroller h4:hover{
   color:#95c11e;
}

 @keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}

 img{
    width: 50px;
    height: 50px;
    object-fit: cover;    
 }
#about-us{
   height: 60vh;
   width: 100%;
  position: relative;
  z-index: 10;
   display: flex;
   padding: 0 50px;
   align-items: center;
   justify-content: space-around;
}
#about-us  img{
   height : 150px; 
   width: 150px;
   border-radius: 30px;
   
}
#about-us-in {
   width: 30%;
   text-align: center;
}
 #about-us-in h3{
    font-size:30px;
    font-weight:500;
    margin-bottom:40px;
}
 
 #about-us-in h3{
    font-size:20px;
    line-height:26px;
}
 #cards-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    position: relative;
    z-index: 10;
} 
 .card{
    height:90%;
    width:30%;
    border-radius:20px;
    background-size:cover;
    background-position:center;
    overflow:hidden;
    transition: all  ease 0.6s;
     
}

#card1{
    background-image:url("DSC00518.JPG");
}

#card2{
    background-image:url("WhatsApp Image 2025-04-06 at 9.52.52 AM.jpeg");
}

#card3{
    background-image:url("WhatsApp Image 2025-07-24 at 10.13.54 AM.jpeg");
}

 
 
.overlay{
    width:100%;
    height:100%;
    background:#95c11e;
    padding:25px;
    padding-top: 30px;
    padding-right: 60px;
    opacity: 0;
     transition:  all ease 0.5s;
}

.overlay h4{
    color:#000;
    font-size:30px;
    margin-bottom:10px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
}

  .overlay p{
    color:#000;
    line-height:16px;
} 

.overlay:hover{
    opacity: 1;
}
.card:hover{
   transform: rotate3d(-1,1,0,20deg);
} 
    
 #green-div{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #95c11e;
    padding: 0 40px;
    position: relative;
   
    z-index: 10;
    background: linear-gradient(   rgb(210, 84, 84), rgb(24, 24, 146));
 }
 #green-div h1{
    width: 50%;
    font-size: 40px;
    text-transform: uppercase;
    color : black;
    }
 
 
#green-div img{
    height: 100%;
    width: 180px;
    object-fit: cover;
}  
/* 
#page3{
   height: 100vh;
   width: 100%;
   background: black;
   display: flex;
   position : relative;
   align-items: center;
   justify-content: center;
}

#page3>p{
 
   font-size: 30px;
   font-weight: 600;
   width : 55%;
   text-align: center;
   line-height: 40px;
   text-align: center;
}
#page3 img{
position: absolute;
height: 60px;
}

#page #colon1{
   left: 40vh;
   top : 25%; 
}
#page #colon2{
  bottom : 35%;
   right : 15%;
} */
 #page3{
    height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3 p{
    width: 40%;
    
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
}

#colon1{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 60px;
    height: 60px;
}

#colon2{
    position: absolute;
    bottom: 20%;
    right: 15%;
    width: 60px;
    height: 60px;
}

#page4{
     height: 60vh;
     width: 100%;
 
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     gap : 70px;
}

 .elem{
    height: 70%;
    width: 26%;
    overflow: hidden; 
    position: relative;
 }
  .elem h2{
    height: 100%;
    width: 100%;
     background-color: #95c11e;
     color: black;
     font-weight: 800;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all ease 0.5s;
     font-size: 20px;
     position: absolute;
     z-index : 10;

 }
 .elem img{
     height: 100%;
     width: 100%;
    object-fit: cover;  
    scale: 1.1;

 }
 .elem:hover h2{
     color:#fff;
     background-color: transparent;
 }
 .elem:hover img{
     scale: 1;
 }
  #page4 h1{
    font-size: 40px;
    position: absolute;
    top: -10%;
    font-weight: 800;
    font-family: gilroy;
    color: #000;
    -webkit-text-stroke: 2px #fff;
  }

#footer{
    width: 100%;
    min-height: 250px;
    background: linear-gradient(to right,#95c11e,#2f7c1f);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 10%;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section h3,
.footer-section h4{
    font-size: 24px;
    font-weight: 900;
    color: #000;
}

.footer-section p,
.footer-section a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.footer-section a:hover{
    color: #000;
}
/* 

  #footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,   #119f3a,   #ace022 );
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
  }
 #footer>img{
    position: absolute;
    left:0;
    height: 100%;
    z-index: 0;
 }
 #f1 img{
    height: 100px;
 }

  #f1,#f2,#f3,#f4{
      width: fit-content;
      position: relative;
      z-index: 20;
  }
  #f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 10px;
  }
 #f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 10px;
}
  #f4 h4{
      font-size: 20px;
      white-space: nowrap;
      text-transform: uppercase;
      color: #000;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 8px;
  }
    */